// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $navcolor,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );
$primary:hsl(22, 100%, 48%);
$success: hsl(0, 0%, 81%);
$secondary: hsl(0, 2%, 24%);
$dark:hsl(20, 6%, 10%);
$light: hsl(0, 0%, 90%);
$info: hsl(218, 76%, 15%);
$danger:hsla(0, 4%, 60%, 0);
$info: hsl(15, 33%, 98%);

@import "node_modules/bootstrap/scss/bootstrap";
